@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


html{
    box-sizing: border-box;
}
*::after,
*::before{
    box-sizing: inherit ;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
body{
color: #151618;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
font-weight: 300;
line-height: 1.5;

}


button{
    padding: 0;
    border: none;
}
.container{
    max-width: 1240px;
    margin: 0 auto ;
    padding-left: 20px;
    padding-right: 20px;
}

.header__inner{
    min-height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.logo{
    margin-bottom: 35px;
}

.menu__btn{
    display: none;
    width: 40px;
    width: 20px;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    
}

.menu__btn span {
    background-color: black;
    height: 2px;
    width: 100%;
    margin-top: 2px;

}

.menu__list{
    display: flex;
    align-items: center;
    gap:  0px 65px;
    font-weight: 400;
    font-size: 18px;
    margin-left: 85px;
     
}

.user-actions{
    display: flex;
    align-items: center;
    gap: 0 13px;
    padding: 0;
}

.user-actions__item-search{
    margin-left: 80px;
}