@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


html{
    box-sizing: border-box;
}
*::after,
*::before{
    box-sizing: inherit ;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
body{
color: #151618;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
font-weight: 300;
line-height: 1.5;

margin: 0;
padding: 0;
}

/* .reviews__item.reviews__item--hide{
    display: none;
} */

.container{
    max-width: 1240px !important ;
    margin: 0 auto  !important ;

  
}

.top{
    background-image: url(../../Images/Background.jpg);
    background-repeat: no-repeat;
    background-position: bottom left ;
    background-size: cover;
    

}

.top__inner{
    min-height: 500px;
    color: white;
    font-family: 'Cormorant',  serif;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 40px;
}


.top__title{
 font-size: 60px;
 margin-bottom: 20px;
 max-width: 780px;
 line-height: 1;
 font-weight: 400;
}

.top__text{
font-size: 24px;
margin-bottom: 48px;
max-width: 568px;
line-height: normal;
}

.blockqoute__text{
    text-align: center;
    font-family: 'Cormorant',  serif;
    font-size: 40px;
    max-width: 704px;
    margin: 0 auto  !important ;
    margin-top: 150px !important ;
    /* margin-right: 130px !important ; */
    
}


.assortment{
    margin-top: 150px;
    margin-left: 40px;

}

.assortment__list{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
    gap: 0 40px;
}

.assortment__img{
   max-width: 208px;
   max-height: 208px;
   width: 100%;
}

.assortment__name{
    font-size: 24px;
    font-weight: 400;
    padding-top: 10px;
    font-family: 'Cormorant', serif;
}

.assortment__title{

}
.title{
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Cormorant',  serif;
    font-size: 40px;
    font-weight: 400;
}

.reviews{
  background-color: #f7f2ea;  
  padding: 60px 0;

}

.reviews__list{
    display: flex;
    gap: 0 26px;
    justify-content: center;
}

.reviews__item{
    flex-basis: 280px;
}

.reviews__text{
font-size: 16px;
font-style: italic;
margin-bottom: 10px;
}

.reviews__name{
font-weight: 600;
}

